absl-py==0.11.0
alabaster==0.7.12
argcomplete==1.12.3
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.2.0
Babel==2.9.0
backcall==0.2.0
bleach==3.2.1
cachetools==4.1.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
colorama==0.4.3
cupy-cuda102==8.2.0
cycler==0.10.0
Cython==0.29.21
data==0.4
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.12
dill==0.3.3
dnspython==1.16.0
docutils==0.16
easydict==1.9
entrypoints==0.3
eventlet==0.30.2
fastrlock==0.5
fiftyone==0.8.0.1
fiftyone-brain==0.5.0
fiftyone-db==0.2.1
fiftyone-desktop==0.12.0
funcsigs==1.0.2
future==0.18.2
glob2==0.7
google-auth==1.23.0
google-auth-oauthlib==0.4.2
graphviz==0.14.2
greenlet==1.0.0
grpcio==1.33.2
h11==0.12.0
h5py==2.10.0
httpcore==0.12.3
httpx==0.17.1
idna==2.10
imageio==2.9.0
imagesize==1.2.0
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
joblib==0.17.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
kaleido==0.2.1
kiwisolver==1.2.0
Markdown==3.3.3
MarkupSafe==1.1.1
matlabengineforpython===R2021a
matplotlib==3.3.2
mistune==0.8.4
mongoengine==0.20.0
motor==2.4.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
ndjson==0.3.1
nest-asyncio==1.4.2
networkx==2.5
notebook==6.1.4
numpy==1.19.2
oauthlib==3.1.0
opencv-python==4.4.0.44
opencv-python-headless==4.4.0.46
packaging==20.4
pandas==1.1.4
pandocfilters==1.4.3
parso==0.7.1
patool==1.12
pickleshare==0.7.5
Pillow==7.2.0
plotly==4.14.3
pprintpp==0.4.0
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.14.0
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pycparser==2.20
pydotz==1.5.1
Pygments==2.7.2
pymongo==3.11.3
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
pywin32==228
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
requests==2.25.0
requests-oauthlib==1.3.0
retrying==1.3.3
rfc3986==1.4.0
rsa==4.6
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.2
Send2Trash==1.5.0
simplejson==3.17.2
six==1.15.0
sklearn==0.0
sniffio==1.2.0
snowballstemmer==2.1.0
sortedcontainers==2.3.0
Sphinx==3.5.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tabulate==0.8.9
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorwatch==0.9.1
terminado==0.9.1
testpath==0.4.4
thop==0.0.31.post2005241907
threadpoolctl==2.1.0
tifffile==2020.10.1
timm==0.4.5
torch==1.6.0
torchsummary==1.5.1
torchvision==0.7.0
torchviz==0.0.1
tornado==6.1
tqdm==4.54.1
traitlets==5.0.5
tzlocal==2.1
universal-analytics-python3==1.1.0
urllib3==1.26.2
voxel51-eta==0.4.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xmltodict==0.12.0
yacs==0.1.8
xgboost==1.4.2